<div>
	<div *ngIf="!session" id="join">
		<div class="row body">
			<div class="col-sm-4 col-xs-0 height center display2">
				<img class="image1" src="../../assets/images/Layer 1.svg">
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="heading">Join a meeting</div>
				<div class="padding">
					<form class="form-group" (submit)="getToken(c)" #c="ngForm">
						<label class="left">Name</label>
						<div class="margin">
							<input class="form-control " type="text" id="userName" name="userName"
								[(ngModel)]="myUserName" #userName="ngModel" required>
							<span class="help-block" *ngIf="!userName.valid && userName.touched" style="color:red;">
								Your name is required
							</span>
						</div>
						<label class="left">Session</label>
						<div class="margin">
							<input placeholder="Enter session " class="form-control " type="text" id="sessionId"
								name="sessionId" [(ngModel)]="mySessionId" #SessionId="ngModel" required>
							<span class="help-block" *ngIf="!SessionId.valid && SessionId.touched"
								style="color:red;">SessionId
								is required</span>
						</div>
						<div class="center">
							<button class="join-button" [disabled]="!c.valid">Join the meeting</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-4 col-xs-0 height2 center display2">
				<img class="image2" src="../../assets/images/Layer 2.svg">
			</div>

		</div>
		<div class="row undisplay2">
			<div class="col-xs-6 center">
				<img class="image1" src="../../assets/images/Layer 1.svg">

			</div>
			<div class="col-xs-6 center">
				<img class="image2" src="../../assets/images/Layer 2.svg">

			</div>
		</div>
		<footer class="footer">
			<div class="container-fluid">
				<div class="text-muted">JoinChat © 2020</div>
				<a href="http://silive.in/" target="_blank"><img class="openvidu-logo" src="assets/images/whitesilogo.png"/></a>
			</div>
		</footer>
	</div>

	<div *ngIf="session" id="session" class="session-d">
		<div class="container-videos">

			<div class="row video-margin">
				<div *ngIf="mainStreamManager" style="padding:0px 0px;" id="main-video"
					class="col-md-9 col-sm-12 col-xs-12">
					<Main-video [streamManager]="mainStreamManager"></Main-video>
					<div id="session-header">
						<button class="normal-button text-center pd1" (click)="videochange()"><img [src]="src"
								class="image2" alt="video-off"></button>
						<button class="leave-button text-center" (click)="leaveSession()"><img class="image"
								src="../../assets/images/call-disconnect.png"></button>
						<button class="normal-button text-center pd2" (click)="audiochange()"><img [src]="src2"
								class="image2" alt="audio-off"></button>
						<button class="normal-button text-center pd3" (click)="chat()"><img
								src="../../assets/images/chat.png" class="image2" alt="chat"></button>
					</div>
				</div>
				<div id="video-container" class="col-md-3 col-sm-12 col-xs-12 s disable-padding ">
					<div *ngIf="publisher" class="stream-container row">
						<div class="col-md-12 col-xs-4 disable-padding">
							<user-video [streamManager]="publisher" (click)="updateMainStreamManager(publisher)">
							</user-video>
							<div>
								<img *ngIf="!audioOn" class="subsaudiooff" src="../../assets/images/audiooff.png" alt="audio-off">
							</div>
						</div>
						<div class="col-md-12 col-xs-8" style="padding:0px 0px ">
							<div class="row row-padding">
								<div class="username col-xs-3 col-md-4 disable-padding center">
									{{myUserName}}
								</div>
								<div class="col-xs-3 col-md-4 disable-padding center">
								</div>
								<div class="col-xs-3 col-md-4 disable-padding center">
								</div>
								<div class="col-xs-3 col-md-4 disable-padding center">
								</div>
							</div>
						</div>
					</div>

					<div *ngFor="let sub of subscribers" class="stream-container">
						<div class="row disable-padding">
							<div class="col-md-12  col-xs-4 disable-padding">
								<user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></user-video>
								<div>
									<img *ngIf="checksubaudiooff(sub)" class="subsaudiooff"
										src="../../assets/images/audiooff.png" alt="audio-off">
									<div *ngIf="!checksubaudiooff(sub)">
										<img *ngIf="checkspecking(sub)" class="subsaudiooff"
										src="../../assets/images/giphy.gif" alt="audio-off">
									</div>	
								</div>
							</div>
							<div class="col-md-12 col-xs-8" style="padding:0px 0px ">
								<div class="row row-padding">
									<div class="username col-xs-3 col-sm-4 disable-padding center">
										{{getNicknameTag(sub)}}
									</div>
									<div class="col-xs-3 col-md-4 disable-padding center">
										<button *ngIf="Host" class="host-button"><img src="../../assets/images/audiooff.png" class=""
												(click)="subaudiooff(sub)" alt="audio-off"></button>
									</div>
									<div class="col-xs-3 col-md-4 disable-padding center">
										<button *ngIf="Host" class="host-leave-button"><img style="width:40%"
												src="../../assets/images/call-disconnect.png" class=""
												(click)="disconnect(sub)" alt="call-disconnect"></button>
									</div>
									<div class="col-xs-3 col-md-4 disable-padding center">
										<button *ngIf="Host" class="host-button"><img src="../../assets/images/video-off-other.png"
												class="" (click)="subvideooff(sub)" alt="video-off"></button>
									</div>
								</div>
							</div>
							<!-- <div class="col-md-10 col-xs-4">
							<user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></user-video>
						</div>
						<div class="col-md-2 col-xs-8">
							<div class="participant-ctrl">
								<div>
									<div *ngIf="sub.stream.connection.connectionId==audioconnectionId">
										<div class="pull-left" *ngIf="!subaudio"><img class="audiooff"
												src="../../assets/images/mico-off.png"></div>
									</div>
								</div>
								<div>
									<div *ngIf="sub.stream.connection.connectionId == connectionId">
										<div class="pull-left" *ngIf="startSpeaking"><img class="small"
												src="../../assets/images/giphy.gif"></div>
										<div class="pull-left" *ngIf="!startSpeaking"><img class="small"
												src="../../assets/images/stopspeak.png">
										</div>
									</div>
								</div>
								<div *ngIf="Host">
									<button (click)="subaudiooff(sub)" class="parti-button pull-left">
										Mic-off
									</button>
								</div>
								<div *ngIf="Host">
									<button *ngIf="Host" (click)="subvideooff(sub)" class="parti-button pull-left">
										Vid-off
									</button>
								</div>
							</div>
						</div> -->
						</div>
					</div>
					<!-- enter exit -->
					<div *ngIf="enter" class="contain-popup">
						<p class="text-center entername">{{ename}}</p>
					</div>
					<div *ngIf="exit" class="contain-popup">
						<p class="text-center entername">{{exitname}}</p>
					</div>
					<!-- enter exit -->
				</div>
			</div>
		</div>
	</div>

	<div class="text-box" [class.display]="show" [class.undisplay]="!show">
		<div class="text-box">
			<div *ngFor="let message of messages">
				<div class="name">{{message.name}}</div>
				<div class="message">{{message.message}}</div>
			</div>
		</div>

		<div class="message-container">
			<form (ngSubmit)="onSubmit(f)" #f="ngForm">
				<input name="chat" placeholder="Type message..." class="message-box" ngModel>
				<button class="message-btn" type="submit">Send</button>
			</form>
		</div>
	</div>
</div>