<div id="main-container" class="container">
	<div *ngIf="!session" style="background-color: #1f2833;" id="join">
		<div id="img-div"><img src="../assets/images/jc-logo.png" /></div>
		<div id="join-dialog" class="jumbotron join-box vertical-center">
			<h1 class="box-head">Join a video session</h1>
			<form class="form-group" (submit)="joinSession()">
				<p>
					<label style="color:#c5c6c7;">Participant</label>
					<input class="form-control form-int" type="text" id="userName" name="userName" [(ngModel)]="myUserName" required>
				</p>
				<p>
					<label style="color:#c5c6c7;">Session</label>
					<input class="form-control form-int" type="text" id="sessionId" name="sessionId" [(ngModel)]="mySessionId" required>
				</p>
				<p class="text-center">
					<input class="join-btn" type="submit" name="commit" value="Join!">
				</p>
			</form>
		</div>
	</div>

	<div *ngIf="session" id="session">
		<div id="session-header">
			<h1 id="session-title" class="box-head">{{mySessionId}}</h1>
			<input class="join-btn" type="button" id="buttonLeaveSession" (click)="leaveSession()" value="Leave session">
			<input class="join-btn" type="button" value="Video Off">
			<input class="join-btn" type="button" value="Mute">
		</div>
		<div *ngIf="mainStreamManager" id="main-video" class="col-md-6">
			<user-video [streamManager]="mainStreamManager"></user-video>
		</div>
		<div id="video-container" class="col-md-6">
			<div *ngIf="publisher" class="stream-container col-md-6 col-xs-6">
				<user-video [streamManager]="publisher" (click)="updateMainStreamManager(publisher)"></user-video>
			</div>
			<div *ngFor="let sub of subscribers" class="stream-container col-md-6 col-xs-6">
				<user-video [streamManager]="sub" (click)="updateMainStreamManager(sub)"></user-video>
				<!-- <button (click)="updateMainStreamManager(sub)" class="btn btn-primary">leave</button> -->
			</div>
		</div>
	</div>
</div>