<div class="row body">
    <div class="col-md-6 padding">
         <div class="heading center">
           <div>Freedom to work</div>
            <div>from Anywhere</div>
         </div>
         <div class="statement center">
            <div>Enjoy the freedom to work and</div> 
            <div>collaborate with hassle free video conferencing</div>
         </div>
         <div class="row buttons">
             <div class="col-xs-12 col-sm-6 center margin">
               <button class="join-button" routerLink="/room">Join Meeting</button>
             </div>
             <div class="col-xs-12 col-sm-6 center">
                <button routerLink="/host-chat" class="host-button">Host a Meeting</button>
             </div>
         </div>
    </div>
    <div class="col-md-6 center ">
         <img class="images" src="../../assets/images/wfh_9.svg">
    </div>
</div>

<footer class="footer">
   <div class="container-fluid">
       <div class="text-muted">JoinChat © 2020</div>
       <a href="http://silive.in/" target="_blank"><img class="openvidu-logo" src="assets/images/whitesilogo.png"/></a>
   </div>
</footer>