.app-name {
	color:#c5c6c7 !important;
    font-family: 'Raleway', sans-serif;
}
.center
{
  text-align: center;
}
.images
{
    width: 80%;
    margin-top: 60px;

}
.body{
    padding-top: 50px;
}
.heading
{
    color: #0B132B;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3.5vw;
    letter-spacing: 2px;   
}
.statement
{
    color: #0B132B;
    font-family: Montserrat;
    font-size: 1.2vw;
    letter-spacing: 0px;
    margin-top:30px;
    font-weight: 600;
}
.padding
{
    padding: 120px 3vw 0px 7vw;
}
.Buttons
{
    margin:50px 30px 0px 30px
}
.join-button,.host-button
{
    padding: 10px 30px;
    font-size: 120%;
    font-family: Montserrat;
    border-radius: 100px 100px;
    border: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.14), 0 6px 6px rgba(0,0,0,0.20);
    transition: all 0.3s;
}
.join-button:hover,.host-button:hover{
    box-shadow: 0 0px 0px;
}
.body
{
    width:100vw
}

.join-button{
    background:#5BC0BE;
    color: white;
}
button:focus
{
   outline: none ;
}
.host-button
{
    background-color: white;
    color:black;
    border: 1px solid ;
}

@media only screen and (max-width: 991px)
{
   .heading{
       font-size: 6vw;
   }
   .col-md-6
   {
       padding:0px 0px 0px 0px ;
       width: 102vw;
   }
   .statement{
       font-size:2vw;
   }
   .images{
       margin-bottom: 100px;
       width: 70%;
   }
   .join-button,.host-button
   {
      font-size: 2vw;
   }
  
}
@media only screen and (max-width: 767px)
{
    
    .margin
  {
      margin-bottom: 30px;
  }
}

@media only screen and (max-width: 455px)
{
  .col-md-6{
      width: 100vw;
  }
  .body{
      margin: 0px 0px ;
  }
  .heading{
      font-size: 8vw;
      font-weight: 900;
      width: 100vw;

  }
  .col-xs-12
    {
        text-align: left!important;
        padding: 0px 4px;
        
    }
  .statement{
      font-size: 3.5vw;
      width: 100vw;

  }
  .join-button,.host-button
  {
     font-size: 4vw;
  }
  .buttons
  {
      margin-left: 10px ;
      margin-right: 0px;
  }
  .images{
      margin-top: 30px;
  }
 
}


/* footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #0b0c10;
}

.footer .text-muted {
	margin: 20px 0;
	float: right;
	color: #ccc;
}

.openvidu-logo {
	height: 35px;
	float: left;
	margin: 12px 0;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.openvidu-logo:hover {
	-webkit-filter: grayscale(0.5);
	filter: grayscale(0.5);
}

.demo-logo {
	margin: 0;
	height: 22px;
	float: left;
	padding-right: 8px;
}

a:hover .demo-logo {
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}
/* footer */