.app-name {
	color:#c5c6c7 !important;
    font-family: 'Raleway', sans-serif;
}
.center
{
  text-align: center;
}
.images
{
    width: 80%;
    margin-top: 60px;

}
.heading
{
    color: #0B132B;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3.5vw;
    letter-spacing: 2px;
    
    
    
}
.statement
{
    color: #0B132B;
    font-family: Montserrat;
    font-size: 1.2vw;
    letter-spacing: 0px;
    margin-top:30px;
}
.padding
{
    padding: 100px 3vw 0px 7vw;
}
.Buttons
{
    margin:50px 30px 0px 30px
}
.join-button,.host-button
{
    padding: 10px 30px;
    font-size: 120%;
    font-family: Montserrat;
    border-radius: 100px 100px;
    border: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.14), 0 6px 6px rgba(0,0,0,0.20);
    transition: all 0.3s;
}
.join-button:hover,.host-button:hover{
    box-shadow: 0 0px 0px;

}
.body
{
    width:100vw
}

.join-button{
    background:#5BC0BE;
    color: white;
}
button:focus
{
   border: 0px ;
}
.host-button
{
    background-color: white;
    color:black;
    border: 1px solid ;
}

@media only screen and (max-width: 991px)
{
   .heading{
       font-size: 6vw;
   }
   .col-md-6
   {
       padding:0px 0px 0px 0px ;
       width: 102vw;
   }
   .statement{
       font-size:2vw;
   }
   .images{
       margin-bottom: 100px;
       width: 70%;
   }
   .join-button,.host-button
   {
      font-size: 2vw;
   }
  
}
@media only screen and (max-width: 455px)
{
  .col-md-6{
      width: 103vw;
  }
  .statement{
      font-size: 3vw;
  }
  .join-button,.host-button
  {
     font-size: 4vw;
  }
}
@media only screen and (max-width: 376px)
{
  .col-md-6{
      width: 103.2vw;
  }
}

